@import url('./reset.css');

.blue-text{
  color: #67AAED;
}

.grey-text{
  color: #959595;
}

.page {
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 100vh;
  
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 12px;
}

.links a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.links a svg {
  color: #aaa;
}

.links a:hover {
  color: #000;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

nav button {
  display: inline-block;
  width: 240px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 25px;
  color: #454545;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

nav button:hover {
  color: #000;
  border-color: #aaa;
}