@font-face {
  font-family: NeueMontreal-Regular;
  src: url("/fonts/PPNeueMontreal-Regular.otf") format("opentype");
}
@font-face {
  font-family: NeueMontreal-Medium;
  src: url("/fonts/PPNeueMontreal-Medium.otf") format("opentype");
}

h1 {
  font-size: 32pt;
  padding-bottom: 1rem;
}

h2 {
  font-size: 18pt;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 16pt;
}

p {
  font-size: 12pt;
}

/* a {
  font-size: 10pt;
} */

* {
  margin: 0;
  padding: 0;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  letter-spacing: 0pt;
  font-size: 14px;
  font-family:
    "NeueMontreal-Regular",
    Inter,
    system-ui,
    -apple-system, /*Firefox supports this but not yet `system-ui`*/
    'Segoe UI', 
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

.cyan-text{
  color : #67AAED;
}
.cyan-text{
  font-family: NeueMontreal-Medium;
}

.grey-text{
  color: #959595;
}

.page {
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 100vh;
  
}
/* :root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
} */

@layer base {
  :root {
    --c-bg: #fff;
    --c-content: #000;
  }
}

@media (prefers-color-scheme: dark) {
    :root {
      --c-bg: #000;
      --c-content: #fff;
    }
}

:root[data-theme="light"] {
  --c-bg: #fff;
  --c-content: #000;
}

:root[data-theme="dark"] {
  --c-bg: #000;
  --c-content: #fff;
}